# Copiar este archivo como ".env" para configurar el entorno local

# PostgreSQL
POSTGRES_DB=ticketflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=javi123

# Spring Boot
SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/ticketflow
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=javi123

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

# JWT
JWT_SECRET=change-this-secret
JWT_EXPIRATION=86400000
